@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  font-family: 'Outfit', sans-serif;
  margin: 0
}

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(212, 45%, 89%)
}

.container {
  width: 330px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hsl(0, 0%, 100%);
  border-radius: 1rem;

}

.text-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


img {
  margin-top: 0.8rem;
  background: #000;
  width: 300px;
  height: 300px;
  border-radius: 1rem;
}

h1 {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  font-weight: 700;
  padding: 10px;
  color: hsl(218, 44%, 22%);
}

p {
  text-align: center;
  font-weight: 400;
  min-width: 230px;
  max-width: 280px;
  color: hsl(220, 15%, 55%);
}
